#issue {
  margin: 1em 0 5em;
  padding: 0;
}

body.issue {
  .logo {
    margin: 2em 6em;
    max-width: 120px;
  }

  h1 {
    font-size: 2em;
    margin: 0;
  }

  h3 {
    margin-top: 6em;
  }

  span.next,
  span.prev {
    font-size: 1.25em;
    font-weight: 300;

    a,
    span.disabled {
      padding: 0 0.5em;
    }

    span.disabled {
      color: $light-gray;
    }
  }
}